# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

/coverage

/build

/.vscode
/.history
/android
/easystay.jks
/private_key.pepk
/ionic.capacitor.json

